Django>=4.2
djangorestframework
djangorestframework-simplejwt
psycopg2-binary  # PostgreSQL adapter
dj-database-url  # Database URL parsing for production
python-decouple  # Environment variable management

# Optional for swagger
drf-spectacular
drf-nested-routers
django-cors-headers

# Production WSGI server
gunicorn

# Static file serving
whitenoise
